<div class="list-group-item">
  <span class="list-item-name"><%= pool.name %></span>
  <%= link_to edit_pool_path(pool),
    class: "btn btn-primary" do %>
    <span>
        <i class="fa fa-edit"></i>
    </span>
  <% end %>
</div>
