<div id='home'>

  <div class='container'>
    <div class='row'>
      <div id='logo' class='col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3'>
        <%= image_tag "logo.png" %>
        <h1>Skana</h1>
        <p>Naturally and Efficiently find team members for any group project.</p>
        <%= link_to "Login with GitHub", user_omniauth_authorize_path(:github),
          class: 'btn' %>
      </div>
    </div>
  </div>

</div>
