nav {
  margin-bottom: 15px;

  .btn-group {
    border-bottom: 1px solid $lightgray-dark;
    border-radius: 0;

    .btn-default {
      border: none;
      background-color: $lightgray-light;
      color: $darkgray-light;
      font-size: 21px;

      &:hover {
        background-color: $lightgray-light;
      }

      &:active, &:focus {
        box-shadow: none;
        outline: none;
        border: none;
        background-color: $lightgray-light;
        color: $darkgray-light;
      }
    }

    .btn-name {
      font-weight: bold;
      color: $aqua-dark;
      font-size: 24px;
      cursor: default;

      &:active {
        color: $aqua-dark;
      }
    }

    .btn-right {
      text-align: right;
    }

    .btn-left {
      text-align: left;
    }
  }

  .chat-notification {
    font-size: 10px;
    background-color: $grapefruit-light;
    opacity: .8;
    color: $lightgray-light;
    border-radius: 50%;
    width: 1.5em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -10px;
    right: 10px;
  }
}
